<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	<bean id="dataSource0" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		  <!-- 
		<property name="url" value="jdbc:mysql://192.168.17.172:3306/integration1?useSSL=false" />
		jdbc:mysql://192.168.17.172:3306/integration1?useSSL=false&useUnicode=true&characterEncoding=utf8 
		<property name="password" value="JQz_111111" />
		-->
		<property name="url" value="jdbc:mysql://localhost:3306/work?useSSL=false" />
		<property name="username" value="root" />
		<property name="password" value="" />
	</bean>
	<bean id="transactionManager0" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">  
		<property name="dataSource" ref="dataSource0" />  
	</bean>
  <!-- 
	<bean id="dataSource0" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://10.19.54.136:3306/lsidstat?useSSL=false" />
		<property name="username" value="root" />
		<property name="password" value="Poilm0987*" />	
	</bean>
	<bean id="transactionManager0" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">  
		<property name="dataSource" ref="dataSource0" />  
	</bean>
	-->
</beans>